.button {
  color: red;
  margin: 5px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 800;

  span {
    background: gray;
    font-size: 20px;
  }
}

.span {
  background: yellow;
}

.count {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

nav {
  display: flex;
  column-gap: 10px;

  > * {
    border: 1px black solid;
    padding: 10px;
  }

}

